body { margin: auto;
padding-left: 5%; }

#container {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column
}

#container div:first-of-type { background-color: green; flex-basis: 25%; order: -2 }

#container div:nth-of-type(2) { background-color: yellow; flex-basis: 50%; }

#container div:last-child { background-color: purple; flex-basis: 25%; order: -1 }


#container div { width: 100% }