.contaner{
    width: 100%;
    height: 300%;
    display: flex;
    flex-direction: row;
}
.item {

    width: 100%;
    height: 300%;
}
.green{
  color: green;
}
.yellow{
    color: yellow;
    flex-shrink: 0;

}
.purple{
    color:purple;
}