.contaner{
    display: flex;
    border-color: blanchedalmond;
    width: 500%;
    height: 600%;

}
.lightblue{
    background-color:aqua;
}
.blue{
    background-color:blue;
}

.lightblue .blue{
    flex-direction: column;
    width: 200%;
    height: 100%;
}

.orange{

}

.red{

}

.purple{
    
}