.contaner{
    display: flex;
    width: 100%;
    height: 400%;
    background-color: yellow;


}

#blue{
    background-color:aqua;
    width: 100%;
    height: 50%;
    align-items: flex-start;
    justify-content: flex-start;
}

#green{
    width: 400%;
    height: 600%;
    align-self: flex-end;
    justify-content: flex-end;
    background-color: green;
}

#purple{
    width: 800%;
    height: 50%;
    background-color:purple;
}